<section class="text-fields">
  <div class="mdl-color--amber ml-header relative clear">
    <div class="p-20">
      <h3 class="mdl-color-text--white m-t-20 m-b-5">Basic forms</h3>
      <h4 class="mdl-color-text--amber-100 m-b-20 no-m-t w100">The Material Design Lite (MDL) text field component is an enhanced version of the standard HTML &lt;input type="text"&gt; and &lt;input type="textarea"&gt; elements.</h4>
    </div>
  </div>

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3><i class="material-icons f-left m-r-5">format_align_left</i> Help</h3>
          <p>An overview of basic form styles and elements.</p>
          <div class="m-t-30">
            <ul class="list-bordered">
              <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#textfields-section">
                  <i class="material-icons m-r-5 f11">description</i>
                  Text fields
                </a>
              </li>
              <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#toggles-section">
                  <i class="material-icons m-r-5 f11">description</i>
                  Toggles
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder ml-card-holder-first">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Normal labels</h2>
          </div>
          <div class="p-30">
            <form>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="^\s*[a-zA-Z0-9\--_-.]+@[a-zA-Z0-9\--_-.]+\.[a-zA-Z]{2,4}\s*$" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Email</label>
                <span class="mdl-textfield__error">Please supply a valid email address.</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="sample2" />
                <label class="mdl-textfield__label" for="sample2">Password</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="disabled1" disabled="disabled" />
                <label class="mdl-textfield__label" for="disabled1">Disabled</label>
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" />
                <span class="mdl-checkbox__label">Are you a robot?</span>
              </label>
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="4" id="sample5" ></textarea>
                <label class="mdl-textfield__label" for="sample5">Textarea</label>
              </div>
              <p>Radio buttons</p>
              <div>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                  <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked />
                  <span class="mdl-radio__label">Option one is this</span>
                </label>
              </div>
              <div>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                  <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="1" checked />
                  <span class="mdl-radio__label">Option two can be something else</span>
                </label>
              </div>
              <p class="m-t-10">Switches</p>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                <input type="checkbox" id="switch-1" class="mdl-switch__input" checked />
                <span class="mdl-switch__label">Off/On</span>
                <span class="mdl-ripple hide" /><!-- Workaround for js error -->
              </label>
              <div class="m-t-20">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Save user
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-color--grey-100 no-p-l">
      <div class="p-40 p-r-20 p-20--small">
        <div class=" mdl-color-text--blue-grey-400">
          <h3><i class="material-icons f-left m-r-5">format_align_left</i> Help</h3>
          <p>An overview of floating labels.</p>
          <div class="m-t-30">
            <ul class="list-bordered">
              <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#textfields-section">
                  <i class="material-icons m-r-5 f11">description</i>
                  Text fields
                </a>
              </li>
              <li>
                <a target="_blank" href="http://www.getmdl.io/components/index.html#toggles-section">
                  <i class="material-icons m-r-5 f11">description</i>
                  Toggles
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--9-col mdl-cell--12-col-tablet mdl-cell--12-col-phone no-p-l">
      <div class="p-20 ml-card-holder">
        <div class="mdl-card mdl-shadow--1dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Floating labels</h2>
          </div>
          <div class="p-30">
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="^\s*[a-zA-Z0-9\--_-.]+@[a-zA-Z0-9\--_-.]+\.[a-zA-Z]{2,4}\s*$" id="sample1" />
                <label class="mdl-textfield__label" for="sample1">Email</label>
                <span class="mdl-textfield__error">Please supply a valid email address.</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="sample2" />
                <label class="mdl-textfield__label" for="sample2">Password</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="disabled2" disabled="disabled" />
                <label class="mdl-textfield__label" for="disabled2">Disabled</label>
              </div>
              <label class="mdl-checkbox mdl-js-checkbox mdl-textfield--floating-label mdl-js-ripple-effect" for="checkbox-2">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" />
                <span class="mdl-checkbox__label">Are you a robot?</span>
              </label>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows="4" id="sample5" ></textarea>
                <label class="mdl-textfield__label" for="sample5">Textarea</label>
              </div>
              <p>Radio buttons</p>
              <div>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                  <input type="radio" id="option-3" class="mdl-radio__button" name="options" value="1" checked />
                  <span class="mdl-radio__label">Option one is this</span>
                </label>
              </div>
              <div>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                  <input type="radio" id="option-4" class="mdl-radio__button" name="options" value="1" checked />
                  <span class="mdl-radio__label">Option two can be something else</span>
                </label>
              </div>
              <p class="m-t-10">Switches</p>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                <input type="checkbox" id="switch-2" class="mdl-switch__input" checked />
                <span class="mdl-switch__label">Off/On</span>
                <span class="mdl-ripple hide" /><!-- Workaround for js error -->
              </label>
              <div class="m-t-20">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                  Save user
                </button>
                <button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>  
</section>
